For installation guide http://www.gabfirethemes.com/codex/ [see theme documentation section]

****************************************************************************************************

As the proud owner of a Gabfire theme, we are sure you will be well on your way to developing a great
web site. And remember, you will receive all updates to the theme in the future simply by re-visiting the
download link already sent to you. Notifications of new releases and udpates are provided on the forum as
well as the web site.

Hundreds of customers just like you are loyal users of the Gabfire themes. It is for this very reason that
we have developed a unique and responsive forum community.

Interesting Fact: Our statistics show that 90% of all user’s questions have already been answered in the
Support Forum, so please ‘search’ before posting and take the time to view our many tutorials provided
for your convenience. Please read and broswer through these resources before you submit any support
questions. We have made every attempt to cover all scenarios; however, if you do find something that
might be incomplete, please let us know and we will respond immediately.

****************************************************************************************************

P.S. If you customize the theme, please email (info@gabfire.com) your site URL to help us to build a showcase.
Additionally, you can post a thread in the Showcase folder on the Forums with your site info for the rest of the
community to admire. Enjoy and thank you.


big picture sidebar and comment form